.header {
    background-color: #f5ba13;
    padding: 0px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    color: white;
    gap:10px;
    position: sticky;
}

.header h1 {
    color: white;
    font-family: 'McLaren', cursive;
    font-weight: 200;
}